/**************  ×ó²à±ßÀ¸***************/

#slider {
  color: #515253;
  width: 150px;
  background: #282D33;
  cursor: pointer;
}

#slider .logo {
  text-align: center;
  padding: 22px 0;
}

#slider .nav ul li {
  height: 80px;
  line-height: 80px;
  text-align: center;
  padding: 20px 0 0;
  border-left: 3px solid #282D33;
}

#slider .nav ul li span {
  margin:60px 0 0;
}

#slider .nav .active {
  color: #6C9BFA;
  border-left: 4px solid #6C9BFA;
}

.nav li:first-child {
  background: url(../images/attack_m.png) center 15px no-repeat;
}

.nav li:nth-child(2) {
  background: url(../images/task_m.png) center 15px no-repeat;
}

.nav li:nth-child(3) {
  background: url(../images/web_c.png) center 15px no-repeat;
}

.nav li:nth-child(4) {
  background: url(../images/userInfo_s.png) center 15px no-repeat;
}

#slider .attack {
  background: url(../images/attack_m_a.png) center 15px no-repeat;
}

#slider .task {
  background: url(../images/task_m_a.png) center 15px no-repeat;
}

#slider .web {
  background: url(../images/web_c_a.png) center 15px no-repeat;
}

#slider .userInfo {
  background: url(../images/userInfo_s_a.png) center 15px no-repeat;
}

/**************ÍË³öµÇÂ½°´Å¥************/
.exit {
  margin-top: 100px;
  overflow: hidden;
  text-align: center;
}

.exit .shutdown ,
.exit .restart {
  height: 60px;
  line-height: 60px;
  width: 74px;
  padding-top: 20px;
}

.exit .shutdown {
  border-right: 2px solid #515253;
  background: url(../images/shutdown.png) center 10px no-repeat;
}

.exit .restart {
  background: url(../images/restart.png) center 2px no-repeat;
}

.exit .logOut {
  background: #2E333A;
  margin-top: 100px;
}

.exit .logOut div {
  height: 60px;
  line-height: 60px;
  padding-top: 30px;
  background: url(../images/log_out.png) center 10px no-repeat;
}


/***********section***********/

#section {
  height: 800px;
  width: 90%;/*ÔÝ¶¨*/
}

h1 {
  padding: 10px;
}